.container {
    display: flex;
    flex-direction: column;
    margin: 20px;    
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 20px;
}

.searchContainer {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.searchInput {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.checkboxContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.checkboxLabel {
    margin-left: 10px;
    margin-right: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.th,
.td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

.th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: 14px;
}

.updateButton {
    background-color: green;
    color: white;
}

.deleteButton {
    background-color: rgb(214, 11, 11);
    color: white;
}

.seeBooksButton {
    background-color: rgb(81, 81, 138);
    color: white;
}

.viewUserButton {
    background-color: rgb(222, 167, 65);
    color: white;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modalTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.modalTh,
.modalTd {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.closeButton {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: gray;
    color: white;
    margin-top: 10px;
}
