

.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.header {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 20px;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-right: 20px;
}

.addButton {
  background-color: #4f7450;
  color: white;
  border: none;
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 0 20px 0; 
  cursor: pointer;
  border-radius: 4px;
}

.filters {
  margin-bottom: 20px;
}

.filters label {
  display: block;
  margin-bottom: 10px;
}

.filters input[type="checkbox"] {
  margin-right: 10px;
}

.search {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
}

.modalContent input {
  display: block;
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalContent button {
  background-color: #90be8f;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.modalContent button:hover {
  background-color: #0ca6de;
}

.tableContainer {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 2px solid #e8dada;
  height: 30px; /* Adjust as needed for better visibility */
  padding: 8px;
  text-align: center; /* Align text to the left for better readability */
}

.table th {
  background-color: #f4f4f4;
}
.table td input {
  width: 100%;
    border: none; /* Removes border */
    resize:none; /* Prevents resizing */
    height: 50px; /* Adjust as needed for better visibility */

    box-sizing: border-box; /* Ensures padding is included in the width */
    background: transparent; /* Makes background transparent */
    overflow: hidden; /* Prevents internal scrollbars */
    display: block; /* Ensures it takes the full width of its container */
    min-height: 40px; /* Adjust as needed for better visibility */
    justify-content: center;
}

.deleteButton {
  background-color: #ce9f9c;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.updateButton {
  background-color: #6ea0b4;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.restoreButton {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}
