.homeContainer {
  padding: 20px;
  position: relative;
  background-color: #f5f5f5;
}

.header {
  text-align: center;
  margin-top: 60px;
}

.header h1 {
  font-size: 2.5em;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.searchBox {
  width: 100%;
  max-width: 320px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkboxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkboxes label {
  margin: 5px;
  font-size: 1em;
  color: #555;
}

.subHeader {
  font-size: 1.6em;
  color: #444;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.booksList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bookCard {
  flex: 0 1 calc(33.333% - 20px);
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.bookCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationButton {
  padding: 12px 24px;
  margin: 0 8px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s;
}

.paginationButton:hover {
  background-color: #0056b3;
}

.paginationButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.cancelPolicy {
  font-size: 14px;
  color: #666;
  margin-top: 20px;
  text-align: center;
}

.cartToggle {
  position: fixed;
  width: 80px;
  height: 80px;
  top: 20%;
  right: 10%;
  transform: translate(-50%, -50%);
  background-color: #7aac86;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  transition: background-color 0.3s, transform 0.3s;
}

.cartToggle:hover {
  background-color: #6f83aa;
  transform: scale(1.1);
}



.leftSidebar {
  position: fixed;
  left: 20px;
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.userGreeting {
  background-color: #ffffff;
  padding: 15px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.5em;
  color: #4a7f4f;
  font-family: 'Arial', sans-serif;
}
