.modalContent {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: auto;
  border-radius: 10px;
  z-index: 2000;

}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1500;
}

.title {
  margin-top: 0;
  font-size: 1.8em;
  color: #333;
  text-align: center;
}

.orderDetails {
  margin-top: 20px;
}

.orderDetails p {
  margin: 5px 0;
  font-size: 1.1em;
}

.orderDetails ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orderDetails li {
  margin-bottom: 10px;
  font-size: 1em;
  color: #555;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.logoutButton, .closeButton {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutButton {
  background-color: #d9534f;
  color: white;
}

.logoutButton:hover {
  background-color: #c9302c;
}

.closeButton {
  background-color: #5bc0de;
  color: white;
}

.closeButton:hover {
  background-color: #31b0d5;
}
