.bookCard {
  border: 1px solid #ddd;
  padding: 10px;
  padding-bottom: 4%;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  display: inline-block;
  vertical-align: top;
}

.bookImage {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.bookDetails {
  padding: 10px;
}

.bookDetails h3 {
  font-size: 1.2em;
  margin: 0;
}

.bookDetails p {
  margin: 5px 0;
}

.bookDetails h5 {
  margin: 10px 0;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.outOfStock {
  color: red;
}

.lowStock {
  color: orange;
}

.highStock {
  color: green;
}
