/* BookCatalog.css */

.books-catalog {
  max-width: 960px;
  margin: 80px auto 20px; /* Margin to avoid overlap with navbar */
  padding: 20px;
  box-sizing: border-box; /* Padding included in max-width */
}

.page-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px; /* Space below title */
  color: #333; /* Text color */
  font-family: 'Poppins', sans-serif; /* Choose a nice font */
}

.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 16px;
  padding-top: 20px; /* Padding for section title */
  color: #333; /* Text color */
}

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.search input {
  padding: 15px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  color: rgb(45, 123, 27);
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.pagination button:hover {
  color: blanchedalmond;
}

.pagination button:disabled {
  color: rgb(73, 102, 120);
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination button:hover {
  background-color: #a6c0af(39, 174, 138, 0.8); /* Light green background on hover with 80% opacity */
}

.bottom-navbar {
  margin-top: 40px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.bottom-navbar p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
