.homeContainer {
  padding: 20px;
  position: relative; /* Ensure cart icon is positioned correctly relative to this container */
}

.booksList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cartToggle {
  position: fixed;
  top: 50%; /* Center vertically */
  right: 20px; /* Adjust left position from edge */
  transform: translateY(-50%); /* Center vertically */
  background-color: #a6c0af;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 4.5em;
  z-index: 1001; /* Ensure it’s above other content */
}

.cartToggle:hover {
  background-color: #218838;
}
