/* StockManagement.module.css */

.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.header {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 20px;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start of the container */
  margin-right: 20px;
}

.addButton {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  padding: 10px 20px; /* Padding to make the button look normal size */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 0 20px 0; /* Space below the button */
  cursor: pointer;
  border-radius: 4px;
}

.filters {
  margin-bottom: 20px;
}

.filters label {
  display: block;
  margin-bottom: 10px;
}

.filters input[type="checkbox"] {
  margin-right: 10px;
}

.search {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
}

.modalContent input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalContent button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.modalContent button:hover {
  background-color: #45a049;
}

.tableContainer {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f4f4f4;
}

.table td input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 4px;
}

.deleteButton {
  background-color: #f44336; /* Red background */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.updateButton {
  background-color: #4CAF50; /* Green background */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.restoreButton {
  background-color: #2196F3; /* Blue background */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}
