
.booksCatalog {
  max-width: 88% !important;
  margin: 40px auto 10px;
  padding: 30px;
  box-sizing: border-box !important;
  background-color: #fff !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 8px rgba(4, 4, 4, 0.1) !important;
}


.pageTitle {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
  font-family: 'Poppins', sans-serif;
}


.filters {
  margin-bottom: 20px;
}

.filters h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.filters label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.filters input[type="checkbox"] {
  margin-right: 10px;
}


.search {
  margin-bottom: 20px;
}

.search input {
  padding: 15px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 16px;
  padding-top: 20px;
  color: #333;
  font-family: 'Poppins', sans-serif;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}


.bookContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}


.bookCard {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  transition: transform 0.2s ease-in-out;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bookCard:hover {
  transform: translateY(-5px);
}


.bookImage {
  text-align: center;
  margin-bottom: 10px;
  height: 200px;
  overflow: hidden;
}

.bookImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.bookDetails {
  padding: 10px;
}

.bookDetails h3 {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.bookDetails p {
  font-size: 14px;
  line-height: 1.6;
  color: #666666;
  margin-bottom: 8px;
}


.outOfStock {
  color: red;
}

.lowStock {
  color: orange;
}

.highStock {
  color: green;
}


.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  color: rgb(45, 123, 27);
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.pagination button:hover {
  background-color: #a6c0af;
  color: #fff;
}

.pagination button:disabled {
  color: rgb(73, 102, 120);
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #f0f0f0;
}


