.container {
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

.header {
  margin: 3%;
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 2.5em;
  color: #333;
}

.search {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.searchInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 300px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filterSection {
  flex: 1;
  margin: 0 10px;
}

.filterSection h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.filterSection label {
  display: block;
  margin-bottom: 5px;
}

.careerList {
  margin-bottom: 20px;
}

.careerItem {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.careerItem h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.careerItem p {
  margin-bottom: 5px;
}

.fileInput {
  margin-top: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  color: #555;
  cursor: pointer;
  transition: border-color 0.3s;
}

.fileInput:hover {
  border-color: #788593;
}

.submitButton {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4e6884;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #0056b3;
}

.noCareers {
  text-align: center;
  font-size: 1.2em;
  color: #555;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #7a91a9;
  color: #fff;
}

.pagination .activePage {
  background-color: #7fa2c7;
  color: #fff;
  border: 1px solid #6b8096;
}
