.footer {
    background-color: #a6c0af;
    border-top: 1px solid #ddd;
    padding: 10px 1%;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    width: 100%;
  }
  
  .logoContainer {
    flex: 1;
    text-align: center;
    overflow: hidden;
  }
  
  .logo {
    max-height: 50px;
    object-fit: cover;
    transform: scale(2.7);
    clip-path: inset(2% 5% 2% 5%);
  }
  
  .footerDetails {
    flex: 2;
    text-align: center;
  }
  
  .footerDetails p {
    margin: 0;
    font-size: 14px;
  }
  
  .footerAdvertisement {
    flex: 2;
    text-align: center;
  }
  
  .footerAdvertisement p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .joinUsButton {
    color: #007bff;
    text-decoration: none;
  }
  
  .joinUsButton:hover {
    text-decoration: underline;
  }
  