.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/public/Images/loginBackGround.jpg');
  background-size: cover;
  background-position: center;
  padding-bottom: 10px;
  filter: brightness(85%);
}

.loginForm {
  width: 350px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  text-align: left;
  margin-top: 40px;
}

.errorMessage {
  color: #d32f2f;
  font-size: 14px;
  margin-bottom: 15px;
}

.loginForm form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  font-weight: 600;
  color: #00796b;
  margin-bottom: 5px;
}

.input {
  padding: 12px;
  border: 1px solid #004d40;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.loginButton {
  padding: 12px;
  background-color: #138577;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.loginButton:hover {
  background-color: #004d40;
  transform: scale(1.02);
}

.signupLink {
  margin-top: 10px;
  text-align: center;
}

.signupButton {
  padding: 10px 20px;
  background-color: #206e7b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
}

.signupButton:hover {
  background-color: #004d40;
}

.loginTitle {
  font-size: 30px;
  font-weight: 700;
  color: #004d40;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
}

.loginSubtitle {
  font-size: 20px;
  font-weight: 500;
  color: #004d40;
  margin-bottom: 20px;
  text-align: center;
}

.loginTitle::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background-color: #4CAF50;
}

.resetPasswordForm {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  text-align: left;
}

.resetPasswordTitle {
  font-size: 24px;
  font-weight: 600;
  color: #004d40;
  margin-bottom: 10px;
  text-align: center;
}

.resetPasswordInstructions {
  font-size: 16px;
  color: #00796b;
  margin-bottom: 20px;
  text-align: center;
}

.resetPasswordMessage {
  color: #d32f2f;
  margin-bottom: 15px;
  text-align: center;
}

.resetPasswordButton {
  padding: 12px;
  background-color: #138577;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.resetPasswordButton:hover {
  background-color: #004d40;
  transform: scale(1.02);
}

.forgotPasswordButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #206e7b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  transition: background-color 0.3s;
}

.forgotPasswordButton:hover {
  background-color: #004d40;
}
