

.navbar {
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(190, 132, 17, 0.8);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.brand {
  font-family: 'Lora', sans-serif;
  font-size: 1.5rem;
  color: rgb(7, 10, 4);
  text-decoration: none;
  font-weight: bold;
}

.navLinks {
  display: flex;
  margin: 1px 30px;
}

.navLinks a, .continueWithoutLogin, .button {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 20px;
  transition: all 0.3s ease;
  border-radius: 5px;
  background: none;
  display: flex;
  align-items: center;
}

.navLinks a:hover, .continueWithoutLogin:hover, .button:hover {
  background-color: rgba(141, 99, 190, 0.8);
}

.active {
  font-weight: regular;
  background-color: rgba(122, 121, 127, 0.8);
  background: gray;
  color: white;
}


.material-symbols-outlined {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 8px;
}
