.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/public/Images/SignUpBackGround.jpg');
  background-size: cover;
  background-position: center;
}

.signupForm {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
}

.signupTitle {
  font-size: 28px;
  font-weight: bold;
  color: #004d40;
  margin-bottom: 20px;
}

.errorMessage {
  color: #e53935; /* Red color for error messages */
  font-size: 14px;
  margin-bottom: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  color: #00796b;
  margin-bottom: 5px;
  text-align: left;
}

.input {
  padding: 12px;
  border: 1px solid #004d40;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.signupButton {
  padding: 12px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.signupButton:hover {
  background-color: #004d40;
}

.passwordStrength {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: left;
}

.passwordStrengthLabel {
  font-weight: bold;
  color: #00796b;
}

.passwordStrengthStatus {
  font-size: 14px;
  color: #e53935; /* Red color for the strength indicator */
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popupContent {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popupMessage {
  color: #00796b;
  font-size: 20px;
  margin-bottom: 10px;
}

.popupButton {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #00796b;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.popupButton:hover {
  background-color: #004d40;
}


