.overlay {
  font-family: 'Lora', sans-serif;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  max-width: 600px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 15px;
}

.message {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 20px;
}

.modalButtons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signupButton, .discoverButton {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.signupButton {
  background-color: #007bff;
  color: white;
}

.signupButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.discoverButton {
  background-color: #6c757d;
  color: white;
}

.discoverButton:hover {
  background-color: #5a6268;
  transform: scale(1.05);
}
