.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5%;
  }

.leftPanel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.addButton {
    background-color: #7979b1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
}

.closeButton {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.updateAllButton {
    background-color: #126515;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.tableContainer {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 2px solid #e8dada;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #f4f4f4;
}

.deleteButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.updateButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.downloadButton {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fileListContainer {
    margin-top: 40px;
}
